#app{
    min-height: 200px;
    width: 450px;
    background: rgb(255,255,255,0.5);
    display: grid;
    align-content: baseline;
    justify-content: center;
    box-shadow: 3px 3px 5px solid red;

}

body{
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 140px;
    background: linear-gradient(to right,black,grey);
}
input{
    height: 25px;
    width: 200px;
}
button{
    height: 30px;
    width: 70px;
    border-radius: 20px;
    background-color: rgb(167, 72, 72);
}
.img{
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
.all{
    color: black;
    padding: 20px;
    font-size: 15px;
}
